.home-record-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 80px;
  position: absolute;
  margin-top: 350px;
  height: 300px;
  width: 900px;


}

.home-title-record {
  color: #00bfa6;
  font-size: 50px;
}
.home-title-span {
  color: #29264e;

}

.home-choice {
  height: 240px;
  width: 590px;
  align-items: center;
  justify-content: center;
  padding: 30px;
  margin: 80px 290px;
  text-align: center;
}


.btn-register-home:focus {
  outline: none;
}
