.header {
  height: 550px;
  width: 100%;

  display: flex;
  color: black;
  background-image: url("../../assets/images/home.jpg");

  .logo-container {
    height: 50%;
    width: 70px;
    padding: 25px;
  }

  h3 {
    margin-top: 110px;
    font-size: 35px;
    color: #29264e;
    font-family: AvenirNextW06-Bold;
    text-align: center;

  }
  span{
    margin-top: 50px;
    font-size: 0.75em;
  }
  h4{
    font-family: AvenirNextW05-UltraLight;
    margin-top: 205px;
    font-size: 17px;
    color: #29264e;
    text-align: center;
  }

  .options {
    margin-top: 20px;
    .option {
      padding: 10px 15px;
    }
  }
}

